.main {
  padding: 10%;
  background-color: #c3caea;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.logoImg {
  height: 70px;
  width: 200px;
  margin-bottom: 10px;
}

.container {
  padding: 10%;
  min-height: 200px;
  background-color: #5763a5;
  border-radius: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.formContainer {
  background-color: #454f84;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 400px;
}
.labelContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 300px;
  background-color: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}
.label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.icon {
  height: 20px;
  width: 20px;
  margin: 5px;
}
.input {
  width: 250px;
  outline: none;
  padding: 5px;
  align-self: center;
  border: none;
}
.img {
  height: 400px;
  width: 400px;
}
.btn {
  padding: 10px;
  margin: 5px;
  background-color: #0b69ff;
  border: none;
  width: 70px;
  border-radius: 5px;
}
.container1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10%;
  background-color: #5763a5;
  border-radius: 20px;
}
.passwordsHeadings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.passHead {
  display: flex;
  flex-direction: row;
}
.count {
  padding: 5px;
  border: solid white 1px;
  border-radius: 3px;
  height: 30px;
}
.searchImg {
  height: 25px;
  width: 25px;
  margin: 5px;
}
.searchContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 5px;
  border-radius: 5px;
}
.searchInput {
  padding: 5px;
  border: #94a3b8;

  outline: none;
}
.bgImg {
  height: 400px;
  width: 400px;
  align-self: center;
  margin: 20px;
}
.bgContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
